*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-weight: 400;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #2d3436;
    color: #000;
}

.stage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
}

.timeline {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 15vh;
    width: 100vw;
    padding: 1rem;
    padding-right: 1.5rem;
    background-color: #ffffff;
    font-size: 2rem;
}

.timeline__button {
    height: 100%;
    margin-right: 1rem;
    border: none;
    background-color: inherit;
    cursor: pointer;
    outline: none;
}

.timeline__button:disabled {
    cursor: not-allowed;
}

.timeline__button:disabled .timeline__icon {
    opacity: 0.4;
}

.timeline__icon {
    height: 100%;
}

.timeline__bar {
    height: 2rem;
    width: 100%;
    background-color: #dfe6e9;
}

.timeline__progress {
    height: 100%;
    width: 0%;
    background-color: #1d1d1d;
    transition: width 150ms ease;
}

.error {
    position: fixed;
    padding: 2rem;
    left: 50%;
    bottom: calc(5% + 10vh + 2rem);
    transform: translateX(-50%);
    font-size: 1.5rem;
    background-color: #ff7979;
    color: #dfe6e9;
    border-radius: .5rem;
    transition: opacity 0.5s;
}

.error[data-toggle="false"] {
    opacity: 0;
    visibility: hidden;
}

.error[data-toggle="true"] {
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width: 812px) {
    html {
        font-size: 50%;
    }
}
